* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, white, #e4eae2);
    color: #222;
    /* padding-bottom: 60px; */
}

header {
    background-color: #333;
    padding: 10px  0;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu li  a:hover {
    color: orange;
}

/* ------ HERO ------ */
.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff3e0;
}

.main-title {
    color: darkblue;
    font-size: 32px;
    margin-bottom: 10px;
}

#intro {
    font-style: italic;
    color: black;
}

/* ----- CONTENT ----- */
.content-section {
    margin: 40px auto;
    padding: 20px;
    max-width: 700px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: justify;
    /* biar  tulisannya masuk ke dalam seperti paragraf "   CSS membantu .....*/
    text-indent: 20px;
}

.info-box {
    background-color: turquoise;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.highlight {
    font-weight: bold;
}

.cta-button {
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: orange;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background: orangered;
}

.form-section {
    margin: 40px auto;
    padding: 30px 20px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align: center;
    color: darkblue;
    margin-bottom: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box label {
    font-weight: bold;
}

.form-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box input:focus {
    border-color: orange;
    outline: none;
}

.form-box button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-box button:hover {
    background-color: orangered;
}

/* ----- FOOTER ----- */
.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}